# Arquivo de segredos - NUNCA ENVIAR PARA O GITHUB
.env

# Pasta do ambiente virtual do Python
venv/
tc/ # Vi que você tinha uma pasta 'tc', provavelmente do venv

# Arquivos gerados pelo Python
__pycache__/
*.pyc

# Arquivos do VS Code
.vscode/